<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost 100</h3>
      <%= render 'shared/feed' %>
      
      
      <%= render 'shared/microposts_search_form' %>
      
      
    </div>
  </div>
<% else %>
  <div class="_4_yKc">
    <div class="home-iphone">
      <div class="V64Sp">
        <%= image_tag("d6bf0c928b5a.jpg",
        alt: "アプリストアでダウンロード",class: "RP4i1") %>
      </div>
    </div>
    <%= render 'static_pages/form' %>
  </div>
<% end %>