<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :ユーザーネーム %>
      <%= f.text_area :username,  class: 'form-control' %> 

      <%= f.label :ウェブサイト %>
      <%= f.text_area :website,  class: 'form-control' %> 
      
      <%= f.label :自己紹介 %>
      <%= f.text_area :profile,  class: 'form-control', placeholder: "160文字以内で入力" %> 

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :電話番号 %>
      <%= f.password_field :callnumber, class: 'form-control' %>

      <%= f.label :性別 %>
      <%= f.password_field :gender, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>