<% provide(:title, @user.name) %>
<div class="row">
  <aside class="vtbgv">
    
    <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
    
    <section class="user_info">
      
        <%= gravatar_for @user %>
       
    </section>
    
    
    <section class="stats_show">
      
      <div class="nZSzR">
        <div class="_7UhW9">
          <%= @user.name %>
        </div>
        <div class="L3NKy">
          <%= link_to "プロフィールを編集", edit_user_path(current_user.id), class: "_4pI4F" %>
        </div>
      </div>
      
      <div class="k9GMp">
        <%= render 'shared/stats' %>
      </div>
      
      <div class="-vDIg">
        中島僚太（修正あり）
        <p><%= @user.profile %></p>
      </div>
      
    </section>
    
    
    
  </aside>
  <div class="_2z6nI">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>